/* 
.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,5rem);
    grid-template-rows: 1fr 2fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}
.box{
    border: 1px solid black;
}
.box1{
    grid-column: 2;
} */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 100px;
    width: 100px;
    border: 1px solid;
}

@media (max-width: 500px) and (min-width:300px){
    .box{
        height: 50px;
        width: 50px;
    }
}