/* selectors */
/* tag names */
div {
    /* key: value;//property; */
    color: rgb(208, 143, 234);
    background-color: rgb(60, 48, 16);
}

/* class selectors */
.hero {
    color: aqua;
    background-color: black;
    margin: 20px;
    padding: 10px;
}

/* id selectors */
#first {
    color: rebeccapurple;
    background-color: gray;
}

/* Nested selectors */
p {
    color: white;
    background-color: darkblue;
}

div p {
    color: aquamarine;
    background-color: darkcyan;
}

.third {
    color: red;
}

#third {
    color: green;
}

div #third {
    color: antiquewhite;
}

.villian #third {
    color: blueviolet;
    background-color: black;
}

/* same specificity pe bhi jo last me aata hai uski sunta hai */
div {
    color: cadetblue;
    background-color: #fff;
}

/* universal selector : weakest specificity*/
* {
    color: green;
    background-color: black;
}

#star {
    color: red;
    background-color: #fff;
}

/* priority list:   important>inline>nesed id>id>nested class>class>nested tags>tags>universal */

.box2{
    height: 150px;
    width: 200px;
    background-color: white;
    overflow: hidden;
    /* opacity: 0.2; */
    margin-left: 100px;
    margin-top: 50px;
    display: inline-block;
}
.box2:hover{
    border: 10px solid blue;
    box-shadow: 0px 0px 2px 10px rgb(209, 111, 111);
    overflow: scroll;
    border-radius: 50px;
}
.box3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* height: 100px; */
}
.box4{
    height: 50px;
    width: 50px;
    background-color: #7a5050;
    border: 1px solid black;
}