@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Google Sans", sans-serif;
    /* font-size: 10px; */
}
body{
    /* background: url("./download.jpeg") center/ cover no-repeat; */
    /* background: linear-gradient(145deg,red,orange,green,yellow); */
    /* background: radial-gradient(ellipse at top right,red,green,blue); */
    min-height: 100vh;
}
.hero{
    height: 100px;
    width: 100px;
    background-color: #999;
    /* color names, rgb(), hexcode #Af46Ad */
    margin: 20px;
}
p{
    padding: 10px 30px;
    margin: 1em 3rem;
    /* margin-top: 50px; */
    /* border: 1px solid black; */
    font-size: 0.5rem;
    font-weight: 900;
    font-style: italic;
    text-align: right;
    text-decoration: underline dotted blue;
    text-transform: lowercase;
    text-shadow: 10px 10px 2px red;
    line-height: 40px;
    letter-spacing: 2px;
    word-spacing: 10px;
}
/* unit cm,m,km,foot,miles */
/* px,em,rem */
/* 1rem = 16px 2rem = 32px*/

/* em depend krta hai parent */
span{
    font-size: 1rem;
}
span div{
    font-size: 2em;
    /* parent ko jo fontsize mila hai child ke liye 1em ki value vhi hogi */
}