* {
    background-color: wheat;
    font-family: 'Times New Roman', Times, serif;
}

div {
    color: aquamarine;
    background-color: black;
}

#hero {
    color: red;
    background-color: grey;
}

#hero p {
    color: azure;
}

div div div p{
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
}

#hero p:hover{
    color: red;
    font-size: 25px;
}

div div div p:hover{
    color: green;
    background-color: blue;
}