*{
    color: rebeccapurple;
    /* background-color: black; */
    
}
body{
    /* background: linear-gradient(to bottom right,red,yellow,green); */
    /* background: radial-gradient(red,blue,yellow); */
    background: url("./download.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.child{
    color: blue;
    /* background: white; */
}
#hero{
    color: azure;
}
.one{
    color: red;
}
#two{
    color: yellow;
}

p{
    color: white;
}
.three{
    color: red;
}
#four{
    color: grey;
}
div #four{
    color: aqua;
}
.one #four{
    color:yellowgreen;
}

#two #four{
    color: blueviolet !important;
}

div{
    font-size: 10px;
}
div p{
    font-size: 1.5rem;
}